.toolbar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 1;
}

#listpage-search {
  width: 90%;
  margin: 0 8px;
}

#listpage-hamburger {
  margin: 18px 8px auto auto;
}